html, body {
  margin: 0;
  padding: 0;
}
.neon-text {
  color: white;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 15px #ff00ff,
    0 0 30px #8a2be2,
    0 0 60px #8a2be2;
  font-weight: 700;
}





/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  background-color: darkmagenta;
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

/* LEFT */
.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

/* CENTER */
.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

/* RIGHT */
.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-links a:hover {
  text-decoration: underline;
}
