.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.gallery-grid img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.center {
    text-align: center;
    color: purple;
}
#text-color {
  color: purple;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  border: none;
  color: white;
  font-size: 40px;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-btn:hover {
  background: white;
  color: black;
}

.left {
  left: -60px;
}

.right {
  right: -60px;
}

/* MODAL BACKGROUND */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* FIXED MODAL SIZE */
.modal-content {
  position: relative;
  width: 900px;
  height: 600px;
  max-width: 90vw;
  max-height: 90vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

/* FORCE IMAGE TO FIT SAME BOX SIZE */
.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps full image */
  border-radius: 12px;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background: white;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
}
