.center {
    text-align: center;
    color:purple;
}
.support-image {
  width: 200px;        /* same width */
  height: 200px;       /* same height */
  object-fit: cover;   /* crop to fit box */
  border-radius: 50%;  /* makes it a circle */
}
